In [1]:
import pandas as pd

df = pd.read_csv('0429naver_real_estate_noun_verb_adjective.csv', index_col = 'Unnamed: 0')
df

,month,title,text,token,new_token,hangul
0,201101,"소득 안늘고 집값은 비싸 “뾰족수 없네”,전세대란에 서민들 눈앞이 깜깜한데…'전세금...",[한겨레] [2011년 경제 전망] 부동산시장 침체 벗어날까\n\n부양정책 펴도 반...,"['한겨레/Noun', '경제/Noun', '전망/Noun', '부동산/Noun',...",한겨레/Noun 경제/Noun 전망/Noun 부동산/Noun 시장/Noun 침체/N...,한겨레 경제 전망 부동산 시장 침체 벗어나다 부양 정책 펴다 반짝 경기 가능성 셋값...
1,201102,"미분양 아파트 61% 중대형,전세가 고공행진에 지방 아파트 매매가도 `꿈틀`,미분양...",전국 미분양 아파트가 감소하는 추세지만 전용면적 85㎡를 초과 하는 중대형 비중은 ...,"['전국/Noun', '미분/Noun', '아파트/Noun', '감소/Noun', ...",전국/Noun 미분/Noun 아파트/Noun 감소/Noun 하다/Verb 추세/No...,전국 미분 아파트 감소 하다 추세 전용 면적 를 초과 하다 중대 비중 오히려 커지다...
2,201103,"양도세 비과세, 왜 판교만? 일산댁ㆍ분당댁 뿔났다!,고가주택 팔면 일반주택의 13배...",판교는 3.3㎡ 2600만원 이상으로 서울(1800만원 선)보다 집값이 더 비싸다....,"['판교/Noun', '이상/Noun', '서울/Noun', '선/Noun', '보...",판교/Noun 이상/Noun 서울/Noun 선/Noun 보다/Verb 집값/Noun...,판교 이상 서울 선 보다 집값 더 비싸다 판교 거주 요건 채우다 않다 보유 하다 양...
3,201104,"[고침]여전히 뜨거운 오피스텔 시장..'수익률' 높은 단지는?,지구지정 백지화…맥빠...",[아시아경제 문소정 기자] (3월31일 16시17분 송고된 '여전히 뜨거운 오피스텔...,"['아시아/Noun', '경제/Noun', '소정/Noun', '기자/Noun', ...",아시아/Noun 경제/Noun 소정/Noun 기자/Noun 송고된/Noun 여전하다...,아시아 경제 소정 기자 송고된 여전하다 뜨겁다 오피스텔 시장 수익률 높다 단지 기사...
4,201105,"전세대란 속에 서울시는 '재개발 임대 전세금' 폭탄,서울아파트값 두달 연속↓…약세 ...","SH공사, '전세전환이율' 축소…가구당 평균 1000만 원 부담\n\n [프레시안 ...","['공사/Noun', '전세/Noun', '전환/Noun', '이율/Noun', '...",공사/Noun 전세/Noun 전환/Noun 이율/Noun 축소/Noun 가구/Nou...,공사 전세 전환 이율 축소 가구 평균 원 부담 프레 시안 허다 환주 기자 서울 하다...
...,...,...,...,...,...,...
115,202008,"6·17, 7·10 이후에도 식지 않는 '서울집 사자' 열기,규제지역 일시적 2주택...",자료사진 /문호남 기자 munonam@\n\n[아시아경제 김유리 기자] 다주택자의 ...,"['자료/Noun', '사진/Noun', '호남/Noun', '기자/Noun', '...",자료/Noun 사진/Noun 호남/Noun 기자/Noun 아시아/Noun 경제/No...,자료 사진 호남 기자 아시아 경제 김유리 기자 주택 보유 거래 세 부담 크게 늘리다...
116,202009,"“절세매물 나온다 해도 가격 안 떨어져” 새아파트 역대 최다 거래,추가 세부담 없다...","양도세 비과세 요건 갖춘 입주 2~3년차 매물 풀려\n거래량·비중, 지난해 대비 2...","['도세/Noun', '비/Noun', '과세/Noun', '요건/Noun', '갖...",도세/Noun 비/Noun 과세/Noun 요건/Noun 갖추다/Verb 이다/Adj...,도세 비 과세 요건 갖추다 이다 매물 풀다 거래 량 비중 지난해 대비 배 급 매물 ...
117,202010,"[단독]“땅값 더 낮춰라”…감정원, 분상제 아파트 7곳 ‘퇴짜’,[단독]'차 없으면...","토지 감정평가 결과, 감정원서 줄줄이 ‘재검토’ 요구\n7곳 중 6곳 사업장, 재평...","['토지/Noun', '감정평가/Noun', '결과/Noun', '감정/Noun',...",토지/Noun 감정평가/Noun 결과/Noun 감정/Noun 원서/Noun 줄줄이/...,토지 감정평가 결과 감정 원서 줄줄이 재 검토 요구 곳 중 곳 사업 재 평가 후 토...
118,202011,"공시가 현실화에 재초환 얼마나 오를까?,서울 전셋값 상승폭 다시 커져… 수도권은 5...",공시가 현실화율 5~10년간 90% 달성\n재초환 책정 시 준공인가 시점 현실화율 ...,"['공시/Noun', '현실/Noun', '율/Noun', '달성/Noun', '재...",공시/Noun 현실/Noun 율/Noun 달성/Noun 재초/Noun 환/Noun ...,공시 현실 율 달성 재초 환 책정 시 준공 시점 현실 율 추진 위 때 소급 적용 공...
119,202012,"재건축사업시행자에 토지 매도청구권 부여한 도시정비법 '합헌',다가구 주택 지분있어도...","토지소유자들 ""재산권 침해"" 주장했지만, 재판관 7대2 합헌결정\n의견개진할 다양한...","['토지/Noun', '소유자/Noun', '재산권/Noun', '침해/Noun',...",토지/Noun 소유자/Noun 재산권/Noun 침해/Noun 주장/Noun 하다/V...,토지 소유자 재산권 침해 주장 하다 재판관 대다 합 결정 의견 진하다 다양하다 절차...

In [13]:
spi_df = pd.read_csv('./예측모델/분석용데이터_utf_spi수정완료.csv')

In [16]:
df['spi'] = spi_df['spi']

In [18]:
df['next_spi'] = df['spi'].shift(-1)
df['next_spi'][-1] = 124.9

<ipython-input-18-2b63e839b8df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['next_spi'][-1] = 124.9

In [21]:
df['diff_spi'] = df['next_spi']-df['spi']

In [27]:
up = df[df['diff_spi']>0]

In [28]:
down = df[df['diff_spi']<0]

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=55601, stop_words='english')
tdm = tfidf.fit_transform(up['hangul'])
up_word_count = pd.DataFrame({
    '단어': tfidf.get_feature_names(),
    '상승tf_idf': tdm.sum(axis=0).flat
})
up_word_count

          단어  상승tf_idf
0         가가  0.868071
1       가가호호  0.000447
2         가각  0.001074
3         가감  0.003820
4         가객  0.001059
...      ...       ...
48311    힙업라  0.001364
48312    힙입어  0.001077
48313     힙합  0.002930
48314  힙합디스전  0.000333
48315     힜다  0.000365

[48316 rows x 2 columns]

In [42]:
tfidf = TfidfVectorizer(max_features=55601, stop_words='english')
tdm = tfidf.fit_transform(down['hangul'])
down_word_count = pd.DataFrame({
    '단어': tfidf.get_feature_names(),
    '하락tf_idf': tdm.sum(axis=0).flat
})
down_word_count

         단어  하락tf_idf
0        가가  0.306670
1      가가호호  0.000945
2        가각  0.000723
3        가감  0.002856
4      가거도항  0.000626
...     ...       ...
36736   힘차다  0.001371
36737    힙라  0.000523
36738   힙임어  0.000194
36739   힙입어  0.000480
36740    힙합  0.001925

[36741 rows x 2 columns]

In [45]:
merge_df = pd.merge(up_word_count, down_word_count, on='단어', how='outer')

In [49]:
merge_df['dif_idf']=merge_df['상승tf_idf']-merge_df['하락tf_idf']
merge_df

         단어  상승tf_idf  하락tf_idf   dif_idf
0        가가  0.868071  0.306670  0.561400
1      가가호호  0.000447  0.000945 -0.000498
2        가각  0.001074  0.000723  0.000350
3        가감  0.003820  0.002856  0.000965
4        가객  0.001059       NaN       NaN
...     ...       ...       ...       ...
54338    히츠       NaN  0.000773       NaN
54339   히트텍       NaN  0.000512       NaN
54340    힌편       NaN  0.000508       NaN
54341    힐맘       NaN  0.000477       NaN
54342   힙임어       NaN  0.000194       NaN

[54343 rows x 4 columns]

In [79]:
merge_df[merge_df['상승tf_idf']>2].sort_values('dif_idf', ascending=False)[:30]

        단어   상승tf_idf   하락tf_idf    dif_idf  down_dif_idf
45044   하다  56.331233  22.769391  33.561842    -33.561842
34034   있다  23.023564   9.592820  13.430744    -13.430744
10825   되다  19.134170   8.015566  11.118604    -11.118604
25967  아파트  12.821830   5.224550   7.597280     -7.597280
37629   주택  12.886340   5.456296   7.430044     -7.430044
18747   분양  10.051035   4.309464   5.741571     -5.741571
21327   서울   9.323846   3.597098   5.726749     -5.726749
18256  부동산   8.289584   3.336274   4.953310     -4.953310
33      가구   8.652134   3.839111   4.813022     -4.813022
10819   돼다   6.477947   2.756688   3.721258     -3.721258
32050   이다   6.335356   2.621249   3.714107     -3.714107
8971    단지   6.443296   2.741137   3.702158     -3.702158
38316   지역   5.842344   2.217115   3.625229     -3.625229
24427   시장   6.129242   2.576556   3.552686     -3.552686
19924   사업   5.594126   2.242868   3.351258     -3.351258
8       가격   5.437134   2.163356   3.273778     -3.273778
11359  따르다   5.266099   2.104454   3.161645     -3.161645
36127   정부   4.243654   1.351868   2.891786     -2.891786
20699   상승   4.068205   1.230216   2.837988     -2.837988
26324   않다   4.598263   1.849155   2.749108     -2.749108
2795    공급   4.749884   2.006096   2.743788     -2.743788
1346    거래   4.523075   1.783622   2.739453     -2.739453
35571   전세   3.971422   1.309121   2.662300     -2.662300
34971  재건축   4.175162   1.631969   2.543194     -2.543194
28767  오르다   3.524398   1.108687   2.415711     -2.415711
2019    경우   3.975904   1.608044   2.367859     -2.367859
9619    대출   3.885253   1.557569   2.327684     -2.327684
16229   받다   3.862499   1.607092   2.255408     -2.255408
39918   청약   3.729525   1.579715   2.149810     -2.149810
27456   없다   3.579607   1.458179   2.121428     -2.121428

In [82]:
len(merge_df[merge_df['하락tf_idf']>0])

36741

In [106]:
merge_df[merge_df['하락tf_idf']>1].sort_values('down_dif_idf', ascending=False)[:10]

       단어  상승tf_idf  하락tf_idf   dif_idf  down_dif_idf
45064  하락  2.458147  1.543056  0.915091     -0.915091
13571  면적  2.156119  1.016101  1.140018     -1.140018
44048  평균  2.390689  1.006292  1.384397     -1.384397
35625  전용  2.532440  1.142869  1.389571     -1.389571
1146   개발  2.505645  1.019862  1.485783     -1.485783
5281   기자  2.563859  1.073389  1.490470     -1.490470
38136  지구  2.532412  1.020917  1.511495     -1.511495
33173  이후  2.593217  1.080779  1.512439     -1.512439
40355  최근  2.581366  1.052529  1.528837     -1.528837
2259   계획  2.728316  1.181425  1.546891     -1.546891

In [96]:
merge_df.sort_values('dif_idf', ascending=False)[:20]

        단어   상승tf_idf   하락tf_idf    dif_idf  down_dif_idf
45044   하다  56.331233  22.769391  33.561842    -33.561842
34034   있다  23.023564   9.592820  13.430744    -13.430744
10825   되다  19.134170   8.015566  11.118604    -11.118604
25967  아파트  12.821830   5.224550   7.597280     -7.597280
37629   주택  12.886340   5.456296   7.430044     -7.430044
18747   분양  10.051035   4.309464   5.741571     -5.741571
21327   서울   9.323846   3.597098   5.726749     -5.726749
18256  부동산   8.289584   3.336274   4.953310     -4.953310
33      가구   8.652134   3.839111   4.813022     -4.813022
10819   돼다   6.477947   2.756688   3.721258     -3.721258
32050   이다   6.335356   2.621249   3.714107     -3.714107
8971    단지   6.443296   2.741137   3.702158     -3.702158
38316   지역   5.842344   2.217115   3.625229     -3.625229
24427   시장   6.129242   2.576556   3.552686     -3.552686
19924   사업   5.594126   2.242868   3.351258     -3.351258
8       가격   5.437134   2.163356   3.273778     -3.273778
11359  따르다   5.266099   2.104454   3.161645     -3.161645
36127   정부   4.243654   1.351868   2.891786     -2.891786
20699   상승   4.068205   1.230216   2.837988     -2.837988
26324   않다   4.598263   1.849155   2.749108     -2.749108

In [102]:
merge_df.sort_values('상승tf_idf', ascending=False)[:10]

        단어   상승tf_idf   하락tf_idf    dif_idf  down_dif_idf
45044   하다  56.331233  22.769391  33.561842    -33.561842
34034   있다  23.023564   9.592820  13.430744    -13.430744
10825   되다  19.134170   8.015566  11.118604    -11.118604
37629   주택  12.886340   5.456296   7.430044     -7.430044
25967  아파트  12.821830   5.224550   7.597280     -7.597280
18747   분양  10.051035   4.309464   5.741571     -5.741571
21327   서울   9.323846   3.597098   5.726749     -5.726749
33      가구   8.652134   3.839111   4.813022     -4.813022
18256  부동산   8.289584   3.336274   4.953310     -4.953310
10819   돼다   6.477947   2.756688   3.721258     -3.721258

In [101]:
merge_df.sort_values('하락tf_idf', ascending=False)[:10]

        단어   상승tf_idf   하락tf_idf    dif_idf  down_dif_idf
45044   하다  56.331233  22.769391  33.561842    -33.561842
34034   있다  23.023564   9.592820  13.430744    -13.430744
10825   되다  19.134170   8.015566  11.118604    -11.118604
37629   주택  12.886340   5.456296   7.430044     -7.430044
25967  아파트  12.821830   5.224550   7.597280     -7.597280
18747   분양  10.051035   4.309464   5.741571     -5.741571
33      가구   8.652134   3.839111   4.813022     -4.813022
21327   서울   9.323846   3.597098   5.726749     -5.726749
18256  부동산   8.289584   3.336274   4.953310     -4.953310
10819   돼다   6.477947   2.756688   3.721258     -3.721258

In [104]:
merge_df.sort_values('down_dif_idf', ascending=False)[:10]

         단어  상승tf_idf  하락tf_idf   dif_idf  down_dif_idf
46455    헬리  0.081987  0.127013 -0.045026      0.045026
45785   핫이슈  0.020969  0.049516 -0.028546      0.028546
17005   버닝썬  0.001594  0.024983 -0.023389      0.023389
40506   최윤아  0.025889  0.047883 -0.021994      0.021994
375      가판  0.002712  0.023862 -0.021151      0.021151
1889   겸손하다  0.000530  0.021383 -0.020853      0.020853
18628    북위  0.022244  0.040324 -0.018080      0.018080
39191    착색  0.004244  0.021596 -0.017353      0.017353
17279   법해석  0.000679  0.017437 -0.016758      0.016758
34562    잡스  0.003976  0.019997 -0.016021      0.016021

In [61]:
merge_df.sort_values('dif_idf', ascending=True)[:30]

         단어  상승tf_idf  하락tf_idf   dif_idf  down_dif_idf
46455    헬리  0.081987  0.127013 -0.045026      0.045026
45785   핫이슈  0.020969  0.049516 -0.028546      0.028546
17005   버닝썬  0.001594  0.024983 -0.023389      0.023389
40506   최윤아  0.025889  0.047883 -0.021994      0.021994
375      가판  0.002712  0.023862 -0.021151      0.021151
1889   겸손하다  0.000530  0.021383 -0.020853      0.020853
18628    북위  0.022244  0.040324 -0.018080      0.018080
39191    착색  0.004244  0.021596 -0.017353      0.017353
17279   법해석  0.000679  0.017437 -0.016758      0.016758
34562    잡스  0.003976  0.019997 -0.016021      0.016021
41995    크립  0.022367  0.037991 -0.015624      0.015624
6035    김예령  0.002636  0.017667 -0.015031      0.015031
35133    재초  0.012862  0.025503 -0.012642      0.012642
7777     냉부  0.004244  0.015700 -0.011457      0.011457
36465    정통  0.004197  0.015607 -0.011410      0.011410
42528    터닝  0.008727  0.020025 -0.011298      0.011298
44327    포천  0.033405  0.044491 -0.011086      0.011086
5618    김동우  0.003039  0.014063 -0.011024      0.011024
47123   홍제역  0.018599  0.028947 -0.010347      0.010347
48194  흥이나다  0.004821  0.015054 -0.010233      0.010233
1700   겨드랑이  0.004244  0.014394 -0.010150      0.010150
18629   북위례  0.006855  0.016525 -0.009670      0.009670
16804  백과사전  0.039145  0.048783 -0.009638      0.009638
21952   성산읍  0.010305  0.019855 -0.009550      0.009550
20211    산새  0.000390  0.009844 -0.009454      0.009454
8161   녹두거리  0.001377  0.010718 -0.009341      0.009341
30207    웅진  0.008964  0.017935 -0.008972      0.008972
2897    공업화  0.003540  0.012406 -0.008867      0.008867
37052   조정린  0.000440  0.008944 -0.008504      0.008504
15273   민통선  0.012531  0.020904 -0.008373      0.008373

In [58]:
merge_df['down_dif_idf']=merge_df['하락tf_idf']-merge_df['상승tf_idf']
merge_df

         단어  상승tf_idf  하락tf_idf   dif_idf  down_dif_idf
0        가가  0.868071  0.306670  0.561400     -0.561400
1      가가호호  0.000447  0.000945 -0.000498      0.000498
2        가각  0.001074  0.000723  0.000350     -0.000350
3        가감  0.003820  0.002856  0.000965     -0.000965
4        가객  0.001059       NaN       NaN           NaN
...     ...       ...       ...       ...           ...
54338    히츠       NaN  0.000773       NaN           NaN
54339   히트텍       NaN  0.000512       NaN           NaN
54340    힌편       NaN  0.000508       NaN           NaN
54341    힐맘       NaN  0.000477       NaN           NaN
54342   힙임어       NaN  0.000194       NaN           NaN

[54343 rows x 5 columns]

In [60]:
merge_df.sort_values('down_dif_idf', ascending=False)[:30]

         단어  상승tf_idf  하락tf_idf   dif_idf  down_dif_idf
46455    헬리  0.081987  0.127013 -0.045026      0.045026
45785   핫이슈  0.020969  0.049516 -0.028546      0.028546
17005   버닝썬  0.001594  0.024983 -0.023389      0.023389
40506   최윤아  0.025889  0.047883 -0.021994      0.021994
375      가판  0.002712  0.023862 -0.021151      0.021151
1889   겸손하다  0.000530  0.021383 -0.020853      0.020853
18628    북위  0.022244  0.040324 -0.018080      0.018080
39191    착색  0.004244  0.021596 -0.017353      0.017353
17279   법해석  0.000679  0.017437 -0.016758      0.016758
34562    잡스  0.003976  0.019997 -0.016021      0.016021
41995    크립  0.022367  0.037991 -0.015624      0.015624
6035    김예령  0.002636  0.017667 -0.015031      0.015031
35133    재초  0.012862  0.025503 -0.012642      0.012642
7777     냉부  0.004244  0.015700 -0.011457      0.011457
36465    정통  0.004197  0.015607 -0.011410      0.011410
42528    터닝  0.008727  0.020025 -0.011298      0.011298
44327    포천  0.033405  0.044491 -0.011086      0.011086
5618    김동우  0.003039  0.014063 -0.011024      0.011024
47123   홍제역  0.018599  0.028947 -0.010347      0.010347
48194  흥이나다  0.004821  0.015054 -0.010233      0.010233
1700   겨드랑이  0.004244  0.014394 -0.010150      0.010150
18629   북위례  0.006855  0.016525 -0.009670      0.009670
16804  백과사전  0.039145  0.048783 -0.009638      0.009638
21952   성산읍  0.010305  0.019855 -0.009550      0.009550
20211    산새  0.000390  0.009844 -0.009454      0.009454
8161   녹두거리  0.001377  0.010718 -0.009341      0.009341
30207    웅진  0.008964  0.017935 -0.008972      0.008972
2897    공업화  0.003540  0.012406 -0.008867      0.008867
37052   조정린  0.000440  0.008944 -0.008504      0.008504
15273   민통선  0.012531  0.020904 -0.008373      0.008373